<div style="padding-top: 5px; width: 100%; display: table; padding-bottom: 20px;">
  <div style="width: 30%; display: table-cell;">
    <app-transaction-upload (start)="onUploadStart()" (complete)="onFileComplete()"></app-transaction-upload>
  </div>
  <div class="spinner-container spinner-center" style="display: table-cell; vertical-align: middle;" *ngIf="isUploadingRunning">
    <mat-spinner></mat-spinner>Uploading transactions...
  </div>
</div>


<div class="example-container mat-elevation-z8">

  <div class="spinner-container spinner-center" *ngIf="isLoading">
    <mat-spinner></mat-spinner>Loading transactions...
  </div>

  <mat-table #table [dataSource]="dataSource" *ngIf="!isLoading">

    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> Id </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="payment">
      <mat-header-cell *matHeaderCellDef> Payment </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.payment}} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.date}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.status}} </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>

</div>

<div style="padding-top: 5px; width: 100%; display: table;">
  <div style="width: 30%; display: table-cell;">
    <div style="display: flex; flex-direction: column;">
      <mat-checkbox [(ngModel)]="currencyFilterIsChecked" style="padding-top: 45px; padding-left: 5px;">Filter by
        Currency Code</mat-checkbox>
      <mat-checkbox [(ngModel)]="statusFilterIsChecked" style="padding-top: 45px; padding-left: 5px;">Filter by Status
      </mat-checkbox>
      <mat-checkbox [(ngModel)]="dateFilterIsChecked" style="padding-top: 45px; padding-left: 5px;">Filter by DateTime
        Range</mat-checkbox>
    </div>
  </div>
  <div style="display: table-cell;">
    <div [hidden]="!currencyFilterIsChecked">
      <mat-form-field appearance="standard">
        <input matInput [(ngModel)]="currencyFilter" placeholder="Currency">
      </mat-form-field>
    </div>
    <div [hidden]="!statusFilterIsChecked">
      <mat-form-field>
        <mat-select name="countryString" [(ngModel)]="statusFilter" placeholder="Status">
          <mat-option [value]="'Approved'">A</mat-option>
          <mat-option [value]="'Rejected'">R</mat-option>
          <mat-option [value]="'Done'">D</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div [hidden]="!dateFilterIsChecked">
      <mat-form-field>
        <input matInput [(ngModel)]="startDateFilter" [matDatepicker]="startDatepicker" placeholder="Start Date">
        <mat-datepicker-toggle matDatepickerToggleIcon matSuffix [for]="startDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatepicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field style="padding-left: 25px;">
        <input matInput [(ngModel)]="endDateFilter" [matDatepicker]="endDatepicker" placeholder="End Date">
        <mat-datepicker-toggle matDatepickerToggleIcon matSuffix [for]="endDatepicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatepicker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</div>

<div style="float: right; padding-left: 30px; padding-bottom: 30px;">
  <button mat-raised-button color="accent" (click)="search()">
    <mat-icon>search</mat-icon>
    Search
  </button>
</div>